.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Top{
    display: flex;
  justify-content:space-between ;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.navMenu{
 display:flex;
 justify-content:space-evenly;
 padding: 14px 15px;
 margin: 20px;
 width:100%;
}

.navMenu ul li {
   list-style-type: none;
   color:black;
}

.navMenu ul li a {
   text-decoration: none;

}
.hero {

      display: flex;
  justify-content:space-evenly;
    background-color: rgb(194, 235, 184);
    height: 25rem;
    padding-bottom: 25rem;
}
.hero h1{
  font-size: 8rem;
}
.heroInfo{
  display:inline-block;
  margin-top: 5%;
}
.together{
  display:inline-block;
}
.highlight{
     display: flex;
  justify-content:space-between ;
    background-color: rgb(255, 255, 255);
     font-size: 2rem;
}
.highlight h1 {
  font-size: 10rem;
}

img{
  height:auto;
  max-width: 50%;
}

.middle-img{
    height:auto;
  max-width: 30%;
}
.container{
  padding-bottom: 5rem;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
}
.card {
  display: grid;
  justify-content:space-between;
  border:solid;
}
.testimonial{
   display: flex;
  justify-content:space-between ;
    background-color: rgb(255, 237, 138);
    height: 25rem;
}
.about{
     display: flex;
  justify-content:space-between ;
    background-color: rgb(255, 255, 255);
    height: 25rem;
}

.footer{
  background-color: rgb(120, 136, 91);
  padding:3rem;
  text-align: left;
}